Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: [
      bugprone-*,
      performance-*,
      cppcoreguidelines-*,
      google-build-namespaces
    ]
    Remove: [
      readability-magic-numbers,
      modernize-use-trailing-return-type,
      cppcoreguidelines-avoid-magic-numbers,
      readability-identifier-naming,
      readability-braces-around-statements,
      modernize-avoid-c-arrays,
      cppcoreguidelines-pro-bounds-pointer-arithmetic,
      readability-convert-member-functions-to-static,
      readability-redundant-declaration,
      bugprone-easily-swappable-parameters,
      bugprone-narrowing-conversions,
      cppcoreguidelines-owning-memory
    ]

Index:
  Background: Build

CompileFlags:
  Add: [-Wall, -Wextra, -Wpedantic, -Wno-missing-field-initializers, -Wno-pointer-bool-conversion]
  Remove: [-mno-direct-extern-access]
