SnapshotTab {
    border: 1px solid transparent;
    border-radius: 4px;
    background: transparent;
}

SnapshotTab[state="unselected"]:hover {
    background-color: palette(Midlight);
}

SnapshotTab[state="selected"] {
    background-color: palette(Light);
}
