SnapshotTimeline {
    background: palette(Window);
}

QListView {
    background: palette(Window);
}

QScrollBar:horizontal {
    height: 5px;
    background: palette(Base);
    padding: 0 0 0 6px;
}

QScrollBar::handle:horizontal {
    background: palette(Midlight);
    border-radius: 5px;
    min-width: 20px;
}

QScrollBar::add-line:horizontal {
    width: 0;
}

QScrollBar::sub-line:horizontal {
    width: 4px;
    background: palette(Base);
}

QScrollBar::sub-page:horizontal {
    background: transparent;
}

QPushButton#createSnapshotButton {
    font-weight: bold;
    font-size: 12px;
}
