VkImageViewer {
    background-color: transparent;
    border: 1px solid palette(Midlight);
}

#viewerToolbar {
    background-color: palette(Mid);
}

#toolbarSeparator {
    background-color: palette(Light);
}

#snapshotOnlyLabel {
    color: palette(Text);
    background: palette(Mid);
    font-size: 12px;
    padding: 5px;
}

QPushButton#toolbarButton {
    background: transparent;
    border: none;
    border-radius: 4px;
}

QPushButton#toolbarButton:hover {
    background: palette(Midlight);
}

QPushButton#toolbarButton:checked {
    background: palette(Light);
}
